<script lang="ts">
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://v3.vuejs.org/api/sfc-script-setup.html#sfc-script-setup
// import HelloWorld from './components/HelloWorld.vue'
export default {
	data() {
		return {
			'stop_name': '',
			'stop_id': 0, 
			'stop_data': [],
		}
	},
	created() {
		this['stop_id'] = window.location.pathname.split('/')[1];
		fetch(`http://localhost:8000/stop/${this['stop_id']}`).then( res => res.json() )
		.then( data => {
			this['stop_name'] = data['stop_name'],
			this['stop_data'] = data['stop_data'].sort( (a,b) => a.departure < b.departure ? -1 : 1) ;
		});
	}
}
</script>

<template>
	<div id="app-display">
		<p class="title">Stop {{ stop_id }}: {{ stop_name }}</p>
		<table>
			<tr v-for="stop in stop_data" :key="stop">
				<td>{{ stop.trip }}</td>	
				<td>{{ new Date(stop.departure).toLocaleString() }}</td>	
				<td>{{ stop['delay_str'] }}</td>	
			</tr>
		</table>
	</div>
</template>

<style>
#app {
	font: 14px sans-serif;
}
#app-display {
	display: flex;
	flex-direction: column;
	max-width: 600px;
	margin: 2%;
}
p.title {
	font: 16px sans-serif;
	font-weight: bold;
}
</style>
